/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&family=Quicksand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global */
:root{
    --color-pr:#16697a;
    --color-sc:#489fb5;
    --aksen:#82c0cc;
    --aksen-sc:#ede7e3;
    --complement:#ffa62b;
    --font-color:white;
    --bg-pr:rgb(22, 105, 122,.12);
    --bg-scnd:rgb(255, 166, 43,.3);
}
li{
    list-style-type: none;
}
p{
    font-size: 1rem;
}
a{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 2.5rem;
}
ul{
    display: flex;
    gap: 2rem;

}
span{
    color: var(--complement);
}
span:hover{
    background-color:var(--complement);
    color: black;
    transition: .1s ease-in;
    border-radius: .8vh;
    padding: .2vh 0 .2vh 0 ;
}
.image{
    
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}
img{
    height: 2rem;
    
}
body{
    font-family: "Mulish",sans-serif;
    background-color: var(--aksen-sc);
}

/* clasess */

/* header */

.wrapper{
    padding: 0 2vh ;
}
header{
    box-shadow: black 0px 1px 1px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 7vh;
    padding:1rem 2rem;
    background-color: var(--color-pr);
    color: var(--font-color);
    flex-wrap: wrap;
}
.title :hover{
    color: black;
    padding: 0 .2em;
    margin: 0 -.2rem;
    transition: .1s ease-out;

}
.navigation{
    display:flex;
    align-items: center;
    justify-content: center;
}
.navigation ul li a{
    display: flex;
    gap: 2rem;
    color: var(--font-color);
}
.navigation ul li a:hover{
color: var(--complement);
transition: .1s ease-in;
}
/* main */
.content{
display: flex;
justify-content: space-around;
background-color: var(--bg-scnd);
padding: 2rem;
}
.hero{
    display: flex;
    margin: 2rem 0;
    justify-content: center;
    align-items: center;
    padding: 0 3rem ;
    background-color: var(--bg-pr);
    border-radius: .2rem;
height: 32rem;
}
.intro{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    text-align: left;

}
.image img{
    border-radius: .4vh;
    width: 13rem;
    height: auto;
}
.intro p{
    max-width: 20rem;

}
.aboutme{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.quotes{
    display: flex;
    border-left: .5rem solid var(--color-pr);
    font-size: 5vh;
    background-color: #fff;
    padding: 2rem 1rem;
    gap: 2rem;
    margin: 1rem;
    align-items: center;
    flex-direction: column;
}
/* aside */
aside{
    background-color: var(--complement);
    padding:2rem;
    margin: 1rem 0;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.img-me{
text-align: center;
border-radius: 2rem;
}

.img-me img{
    height: 6rem;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.link h1{
    margin-bottom: 6vh;

}
.link span{
    color: black;
}
.link span:hover{
    color: black;
    background-color: #fff;
}
.wrapper-side{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.wrapper-side a{
    justify-content: center;
    align-items: center;
}
.wrapper-side a:hover{
color: var(--font-color);
transition: .1s ease-in;
}


/* footer */
footer{
    height: 20rem;
    display: flex;
    margin: 2rem 0 0;
    flex-direction: column;
    background-color: var(--color-pr);
    text-align: center;
    justify-content: center;
    padding: 4vh 0;
    color: var(--aksen-sc);
}
.banner{
    margin-bottom: 1rem;
}
.wrapper-ft{

    display: flex;
    justify-content: center;
    gap: 2vh;   
    padding: .78rem;
}
.center{
    align-content: center;
    align-self: center;
}
.list-item{
    border-bottom: 2px solid transparent;
}
.list-item:hover{
    border-bottom: 2px solid black;
    transition: .1s ease-in;
}
.copyright{
    text-align: center;
    background-color:var(--aksen);
    color: black;

}
.copyright p{
    font-size: .78rem;
}