/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400&family=Quicksand&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* global */
:root{
    --color-pr:#16697a;
    --color-sc:#489fb5;
    --aksen:#82c0cc;
    --aksen-sc:#ede7e3;
    --complement:#ffa62b;
    --font-color:white;
}
li{
    list-style-type: none;
}
p{
    font-size: 2.6vh;
}
a{
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 6vh;
}
ul{
    display: flex;
    gap: 2rem;

}
span{
    color: var(--complement);
}
span:hover{
    background-color:var(--complement);
    color: black;
    transition: .1s ease-in;
    border-radius: .8vh;
    padding: .2vh 0 .2vh 0 ;
}

img{
    height: 1.7rem;
}
body{
    font-family: "Mulish",sans-serif;
    background-color: var(--aksen-sc);
}

/* clasess */

/* header */

.wrapper{
    padding: 0 2vh ;
}
header{
    box-shadow: black 0px 1px 1px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    gap: 7vh;
    padding:1rem 2rem;
    background-color: var(--color-pr);
    color: var(--font-color);
    flex-wrap: wrap;
}
.title :hover{
    color: black;
    padding: 0 .2em;
    margin: 0 -.2rem;
    transition: .1s ease-out;

}
.navigation{
    display:flex;
    align-items: center;
    justify-content: center;
}
.navigation ul li a{
    display: flex;
    gap: 2rem;
    color: var(--font-color);
}
.navigation ul li a:hover{
color: var(--complement);
transition: .1s ease-in;
}
/* main */

.hero{
    display: flex;
    margin: 6rem 8rem;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem ;

}
.intro{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    justify-content: center;
    text-align: left;

}
.image img{
    width: auto;
    height: auto;
}
.intro p{
    width: 25vh;

}
article{
    margin-bottom: 2vh;
    border-right: 1rem dotted var(--color-pr);
}
article .italic{
    margin: 8vh 0;
    font-size: 5vh;
}
/* aside */
aside{
    background-color: var(--complement);
    padding:10vh;
    color: var(--font-color);
 
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.link h1{
    margin-bottom: 6vh;

}
.link span{
    color: black;
}
.link span:hover{
    color: black;
    background-color: #fff;

}
.itlist{
    display: flex;
    flex-direction: column;
}
.itlist a{
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    border-radius: 2vh;
    padding: 1vh;
    align-items: center;
}
.itlist a:hover{
    color: black;
    background-color: var(--aksen-sc);



}
.itlist a img{
    width: 6vh;
    border-radius: 2vh;

}

/* footer */
footer{
    display: flex;
    margin: 2rem 0 0;
    flex-direction: column;
    background-color: var(--color-pr);
    text-align: center;
    padding: 4vh 0;
    color: var(--aksen-sc);
}
.wrapper-ft{
    margin: 5vh 2vh 0 0  ;
    display: flex;
    justify-content: center;
    gap: 2vh;
    
}
.list-item{
    border-bottom: 2px solid transparent;
}
.list-item:hover{
    border-bottom: 2px solid var(--aksen-sc);
    transition: .1s ease-in;
}
.copyright{
    text-align: center;
    background-color: black;
    color: var(--aksen-sc);
}